<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    
</head>
<body>
<section class="profile-card">
    <div class="top-section">
        <div class="image">
            <img src="<%= user.dp %>" alt="user image" onerror="this.onerror=null; this.src='./images/11539820.png'">
        </div>
        <div class="text-info">
            <div class="text-data">
                <h2><%= user.fullname %></h2>
                <p><%= user.username %></p>
                <p><%= user.email %></p>

                <div class="media-icons">
                    <a href="#" style="background-color: #ff0000;"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#" style="background-color: #1da1f2;"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" style="background-color: #4267b2;"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" style="background-color: #e13062;"><i class="fa-brands fa-instagram"></i></a>
                </div>

                <div class="analytics">
                    <div class="data">
                        <i class="fa-solid fa-heart"></i>
                        <p><%= user.posts.length %>K</p>
                    </div>
                    <div class="data">
                        <i class="fa-regular fa-comment"></i>
                        <p>60K</p>
                    </div>
                    <div class="data">
                        <i class="fa-solid fa-share"></i>
                        <p>60K</p>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <a href="/upload" class="createLogout">Create</a>
                <a href="/logout" class="createLogout">Logout</a>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <h4 class="postContainer">All Posts</h4>
    <div class="posts-grid">
        <% user.posts.forEach(function(post){ %>
            <div class="card">
                <img src="/images/uploads/<%= post.image %>" alt="post image">
                <div class="post-likes">
                    <p class="post-text"><%= post.postText %></p>
                    <p><%= post.likes %></p>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
        <% }) %>
    </div>
</div>
</body>
</html>
